* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  color: #393939;
  background-color: #EBE4DD;
}

/* --------------
Link Styles
----------------- */
li a {
  text-decoration: none;
  color: #393939;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
li a:hover {
  color: #000000;
}
li a.link {
  position: relative;
  font-size: 18px;
}
li a.link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -3px;
  left: 0;
  background: #AF8976;
  border-radius: 300px;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
li a.link:hover:before {
  width: 100%;
  visibility: visible;
}

.button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 10px 20px 8px 20px;
  border: solid 1px #393939;
  color: #000000;
  text-decoration: none;
  align-self: flex-end;
}
.button:hover {
  color: #ffffff;
  background-color: #AF8976;
  border: solid 1px #EBE4DD;
}

/* --------------
Navbar Styles
-----------------*/
#navbar {
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  padding: 0.5% 5% 0.5% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.nav-links {
  display: none;
}

.toggle {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: transform 0.5s;
  outline: none;
  position: relative;
  z-index: 1002;
}

.toggle-spin {
  transform: rotate(90deg);
}

/*---- Aside ----*/
.sidebar {
  text-align: left;
  width: 150px;
  height: 100vh;
  background-color: rgba(175, 137, 118, 0.7);
  position: absolute;
  right: 0;
  transform: translate(100%);
  transition: transform 0.5s;
}

.sidebar a {
  color: #ffffff;
}

.sidebar-links {
  padding: 0px 50px;
  text-align: right;
  font-size: 18px;
  position: absolute;
  top: 20%;
}
.sidebar-links li {
  padding: 20px 0;
}

.show-sidebar {
  transform: translate(0%);
}

/* --------------
Banner Styles
-----------------*/
.banner {
  margin: 270px auto 150px auto;
}

.container-banner {
  margin: 50px 12%;
}

.myname {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #393939;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.roles {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  margin-top: 20px;
}

.line {
  content: "";
  border-top: 1px solid #393939;
  width: 183px;
}

.banner,
.content {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.content {
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
/* --------------
"Work" Container Styles
-----------------*/
.content {
  font-size: 1.15em;
  line-height: 1.5em;
  margin: 0px 5%;
  padding-top: 70px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-top-style: solid;
  border-width: 1px 0px;
  border-color: #393939;
}

.subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.category {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  text-transform: uppercase;
}

.description {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 300;
  padding-top: 30px;
}

.span {
  display: block;
  margin: 3em;
}

.four,
.five,
.six {
  visibility: hidden;
}

/* ----------------
Footer Styles
------------------*/
.main-footer {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  position: sticky;
  font-weight: 500;
  text-align: center;
  color: #393939;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1002;
}

/* ---------------
Media Queries
-----------------*/
/* Tablet View */
@media (min-width: 750px) {
  .toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
  }

  .about-link {
    margin: 0 80px;
  }

  a.link {
    font-size: 16px;
  }

  .banner {
    margin: 200px auto 150px auto;
  }

  /*---- "Work" Container--- */
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0% 2%;
    min-width: 90%;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    flex-basis: 50%;
  }

  s .subtitle {
    font-size: 1em;
  }

  .category {
    font-size: 16px;
  }

  .btns {
    text-align: center;
  }

  .one,
.three,
.five {
    border-right-style: solid;
    border-width: 1px;
  }

  .five,
.six {
    border-bottom-style: solid;
    border-width: 1px;
  }
}
/* Full Screen */
@media (min-width: 1217px) {
  .content {
    margin: 0 10%;
  }

  .col {
    flex-basis: 33%;
  }

  .container {
    padding: 0%;
  }

  .two,
.four {
    border-right-style: solid;
    border-width: 1px;
  }

  .three {
    border-right-style: none;
  }

  .four {
    border-bottom-style: solid;
    border-width: 1px;
  }
}

/*# sourceMappingURL=index.css.map */
