//---- Variables ----//
$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Jost', sans-serif;
$font-tertiary: 'Crimson Text', serif;

$background-color: #EBE4DD;
$complement-color:#AF8976;
$main-font-color: #393939;

//----- Mixins ----//
@mixin flex($direction: column, $justify: space-between) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin font-styling($family, $size, $line, $transform) {
  font-family: $family;
  font-size: $size;
  line-height: $line;
  text-transform: $transform;
}

* {
  box-sizing: border-box;
}

html,
body
{
  margin: 0;
  height: 100%
}

body {
  @include flex(column);
  font-weight: 300;
  color: $main-font-color;
  background-color: $background-color;
}

/* --------------
Link Styles
----------------- */
li a {
  text-decoration: none;
  color: $main-font-color;
  font-family: $font-primary;
  font-weight: 400;

  &:hover {
    color: #000000;
  }

  &.link {
    position: relative;
    font-size: 18px;

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 3px;
      bottom: -3px;
      left: 0;
      background: $complement-color;
      border-radius: 300px;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    &:hover:before{
      width: 100%;
      visibility: visible;
    }
  }
}

.button {
  @include font-styling($font-primary, 14px, null, uppercase);
  margin: 0 auto;
  padding: 10px 20px 8px 20px;
  border: solid 1px $main-font-color;
  color: #000000;
  text-decoration: none;
  align-self: flex-end;

  &:hover {
  color: #ffffff;
  background-color: $complement-color;
  border: solid 1px $background-color;
  }
}

/* --------------
Navbar Styles
-----------------*/
#navbar {
  width: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  padding: .5% 5% .5% 5%;
  @include flex(row);
}


li {
  list-style-type: none;
}

.nav-links {
  display: none;
}

.toggle {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  transition: transform .5s;
  outline: none;
  position: relative;
  z-index: 1002;
}

.toggle-spin {
  transform: rotate(90deg);
}


/*---- Aside ----*/
.sidebar {
  text-align: left;
  width: 150px;
  height: 100vh;
  background-color: rgba(175, 137, 118, 0.7);
  position: absolute;
  right:0;
  transform: translate(100%);
  transition: transform .5s;

  a {
      color: #ffffff;
  }
}


.sidebar-links {
  padding: 0px 50px;
  text-align: right;
  font-size: 18px;
  position: absolute;
  top: 20%;

  li {
  padding: 20px 0;
  }
}

.show-sidebar {
    transform: translate(0%);
}


/* --------------
Banner Styles
-----------------*/
.banner {
  margin: 270px auto 150px auto;
}
.container-banner {
  margin: 50px 12%;
}

.myname {
  @include font-styling($font-primary, 24px, null, uppercase);
  color: $main-font-color;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.roles {
  @include font-styling($font-tertiary, 18px, null, null);
  font-weight: 300;
  font-style: italic;
  margin-top: 20px;
}


.line {
  content: '';
  border-top: 1px solid $main-font-color;
  width: 183px;
}


.banner,
.content {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.content {
  animation-delay: .5s;
}


@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}



/* --------------
"Work" Container Styles
-----------------*/

.content {
  @include font-styling(null, 1.15em, 1.5em, null);
  margin: 0px 5%;
  padding-top: 70px;
}

.col {
  @include flex;
  padding: 30px;
  border-top-style: solid;
  border-width: 1px 0px;
  border-color: $main-font-color;
}

.subtitle {
  @include font-styling($font-primary, 1.3em, null, uppercase);
  font-weight: 400;
  letter-spacing: 0.03em;
}

.category {
  @include font-styling($font-secondary, 18px, 1.3em, uppercase)
}

.description {
  @include font-styling($font-secondary, 16px, 1.3em, null);
  font-weight: 300;
  padding-top: 30px;
}

.span {
  display: block;
  margin: 3em;
}

.four,
.five,
.six {
  visibility: hidden;
}

/* ----------------
Footer Styles
------------------*/

.main-footer {
  @include font-styling($font-secondary, 14px, null, uppercase);
  position: sticky;
  font-weight: 500;
  text-align: center;
  color: $main-font-color;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1002;

}

/* ---------------
Media Queries
-----------------*/

/* Tablet View */
@media (min-width: 750px) {

  .toggle {
    display: none;
  }

  .nav-links {
    @include flex(row);
    margin-top: 18px;
  }

  .about-link {
    margin: 0 80px;
  }

  a.link {
    font-size: 16px;
  }

  .banner {
    margin: 200px auto 150px auto;
  }

  /*---- "Work" Container--- */

  .container {
    @include flex($direction:null);
    padding: 0% 2%;
    min-width: 90%;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    flex-basis: 50%;
  }
s

  .subtitle {
    font-size: 1em;
  }

  .category {
    font-size: 16px;
  }

  .btns {
    text-align: center;
  }


  .one,
  .three,
  .five {
    border-right-style: solid;
    border-width: 1px;
  }

  .five,
  .six {
    border-bottom-style: solid;
    border-width: 1px;
  }
}


/* Full Screen */

@media (min-width: 1217px) {
  .content {
    margin: 0 10%;
  }

  .col {
    flex-basis: 33%;
  }

  .container {
    padding: 0%;
  }

  .two,
  .four {
    border-right-style: solid;
    border-width: 1px;
  }

  .three {
    border-right-style: none;
  }

  .four {
    border-bottom-style: solid;
    border-width: 1px;
  }
}
